/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

	
Link Hover Color = #20222a

GO FOR IT  :D   Don't worry about getting it exact!

*/

body {
  font-size: 24px;
  line-height: 25px;
  font-family: 'Times New Roman', Times, serif;
  color: #656565;
}
#container {
  margin-top: 30px;
  margin-left: 240px;
}

header {
  margin-bottom: 34px;
}

h2 {
  font-size: 3.5em;
}

img {
  margin-bottom: 40px;
}
.press {
  display: flex;
}

p {
  font-size: 18px;
  letter-spacing: 3px;
  margin-bottom: 32px;
}

h3,
span {
  color: blue;
}
.img3,
.img4,
.img5,
.img6 {
  flex-flow: row;
  border: 5px solid #999999;
  margin-left: 10px;
}
